.results-panel{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  transition: opacity 1s;
  margin-bottom: 50px;
}
.results-panel > a{
  margin-bottom: 10px;
}

.results-panel-prepering{
  opacity: 0;
}
